.DS_Store
*.key
*.log
*.manifest
*.out
*.tmp
*.trc
*.trace
*.aud
*.crashsim.bak
Wallet_*.zip
wallet_*.zip
*wallet*.sso
ewallet.p12
ewallet.pem
cwallet.sso
keystore.jks
truststore.jks
ojdbc.properties

crashsim_logs/
crashsimulator_logs/
captures/html/
tmp/
